.container{
    background: #ffffff;
    padding: 80px;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    position: fixed;
    width:100%;
    left: 0;
    top: 0;
    height: 70px;
    padding: 10px;
    box-shadow: 0 0 10px black;
}